
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i> Lista de Clientes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* AJAX, JQUERY *@

            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    @* Ocultar id para que solo se maneje con ajax *@
                    <input type="text" id="id" value="0" />

                    <div class="col-sm-6">
                        <label for="nombre" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" autocomplete="off">
                        <span class="text-danger" id="error-nombre"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="apellido" class="form-label fw-bold">Apellido</label>
                        <input type="text" class="form-control" id="apellido" autocomplete="off">
                        <span class="text-danger" id="error-apellido"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="dni" class="form-label fw-bold">DNI</label>
                        <input type="text" class="form-control" id="dni" autocomplete="off">
                        <span class="text-danger" id="error-dni"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control" id="email" autocomplete="off">
                        <span class="text-danger" id="error-email"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="telefono" class="form-label fw-bold">Telefono</label>
                        <input type="tel" class="form-control" id="telefono" autocomplete="off">
                        <span class="text-danger" id="error-telefono"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="localidad" class="form-label fw-bold">Localidad</label>
                        <input type="text" class="form-control" id="localidad" autocomplete="off">
                        <span class="text-danger" id="error-localidad"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="provincia" class="form-label fw-bold">Provincia</label>
                        <input type="text" class="form-control" id="provincia" autocomplete="off">
                        <span class="text-danger" id="error-provincia"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="tipo" class="form-label fw-bold">Tipo</label>
                        <select id="tipo_cliente" class="form-select">
                            <option selected disabled>Elija una opcion</option>
                            <option value="1">Personal</option>
                            <option value="2">Empresarial</option>
                        </select>
                        <span class="text-danger" id="error-tipo"></span>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="msjError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="guardarCliente" type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* t0d0s los scripts son renderizados a layout, en la parte de RenderSection *@
@section Scripts {
    <script>

        // variables globales para todos los archivos dentro de base.js
        var tabledata;
        var filaSeleccionada;
        const urlListarClientes = '@Url.Action("ListarClientes", "Home")'; 

    </script>

    @* script base que contiene todos los archivos JS de Clientes *@
    <script src="~/Scripts/JS-CLIENTE/base.js"></script>
}