
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i> Lista de Clientes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* AJAX *@

            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    @* Ocultar id para que solo se maneje con ajax *@
                    <input type="text" id="id" value="0" />

                    <div class="col-sm-6">
                        <label for="nombre" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="apellido" class="form-label fw-bold">Apellido</label>
                        <input type="text" class="form-control" id="apellido" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="dni" class="form-label fw-bold">DNI</label>
                        <input type="text" class="form-control" id="dni" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control" id="email" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="telefono" class="form-label fw-bold">Telefono</label>
                        <input type="tel" class="form-control" id="telefono" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="region" class="form-label fw-bold">Region</label>
                        <input type="text" class="form-control" id="region" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="tipo" class="form-label fw-bold">Tipo</label>
                        <select id="tipo_cliente" class="form-select">
                            <option selected>Elija una opcion</option>
                            <option value="1">Personal</option>
                            <option value="2">Empresarial</option>
                        </select>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="msjError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* t0d0s los scripts son renderizados a layour, en la parte de RenderSection *@
@section Scripts {
    <script>
        var tabledata;
        var filaSeleccionada; // para acceder a, por ej, editar desde ver el contenido de fila y cambiar el valor de fila


        tabledata = $('#tabla').DataTable({ // convertir la tabla a dataTable de jquery en donde hay paginado, busqueda
            responsive: true, // para pantallas pequeñas
            ordening: false, // para que no ordene por defecto
            "ajax": {
                "url": '@Url.Action("ListarClientes", "Home")',
                "type": "GET",
                "datatype": "json",
                "complete": function () {
                    $('#tabla').DataTable().columns.adjust().draw(); // Ajustar columnas y redibujar
                }
            },
            "columns": [
                { "data": "Dni" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return row.Nombre + " " + row.Apellido;
                    }
                },
                { "data": "Email" },
                { "data": "Region" },
                { "data": "Telefono" },
                {   // modifco visualmente para que el vendedor pueda ver todo el detalle de Evento + Ubicacion
                    "data": "Tipo_Cliente",
                    "title": "Tipo",
                    "render": function (data, type, row) {
                        return row.Tipo_Cliente.Nombre;
                    }
                },
                {
                    "data": null,
                    "defaultContent": '<div class="btn-group">' +
                        '<button class="btn btn-primary btn-sm rounded-2 btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button class="btn btn-danger btn-sm rounded-2 ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>' +
                        '</div>',
                    "orderable": false,
                    "searchable": false
                }

            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json',
            }
        });

        // Funcion para abrir el modal
        function abrirModal(json) {

            // Limpiar campos para que no queden datos de otras filas
            $("#id").val(0);
            $("#nombre").val("");
            $("#apellido").val("");
            $("#dni").val("");
            $("#email").val("");
            $("#region").val("");
            $("#telefono").val("");
            $("#tipo_cliente").val(""); // asignar segun el value


            $("#msjError").hide();


            if (json != null) { // entra aca si le da a editar, ya que habrian datos en la fila

                // le damos el valor al campo especifico del json q obtuvimos con ajax anteriormente

                $("#id").val(json.IdCliente);
                $("#nombre").val(json.Nombre);
                $("#apellido").val(json.Apellido);
                $("#dni").val(json.Dni);
                $("#email").val(json.Email);
                $("#region").val(json.Region);
                $("#telefono").val(json.Telefono);
                $("#tipo_cliente").val(json.Tipo == 'Personal' ? 1 : 2); // asignar segun el value
            }

            $("#FormModal").modal("show");
        }

        // Funcionalidad de que al hacer click en editar se muestren los valores de la fila seleccionada
        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabledata.row(filaSeleccionada).data(); // los datos de la fila seleccionada

            console.log(tabledata.row(filaSeleccionada).data());

            abrirModal(data);
        });

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var usuarioSeleccionado = $(this).closest("tr");

            var data = tabledata.row(usuarioSeleccionado).data(); // los datos de la fila seleccionada

            console.log(data);

            swal({
                title: "¿Esta Seguro?",
                text: "¿Queres Eliminar el Cliente?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    // Accion que realiza si se presiona que se quiere eliminar
                    $.ajax({
                        url: '@Url.Action("EliminarCliente", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdCliente }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",

                        success: function (data) { // este data es el json que retorna EliminarCliente

                            //debugger;

                            if (data.resultado) {
                                tabledata.row(usuarioSeleccionado).remove().draw(false);
                            } else {
                                swal("No se pudo eliminar", data.mensaje, "error");
                                return;
                            }
                        },
                        error: function (error) {
                            $("#msjError").text("Error Ajax");
                            console.log(error)
                        }
                    });
                });

        });

        // crear nuevo cliente
        function guardar() {

            // trabajamos de la misma forma que tabledata, se puede ver en la consola web
            var Cliente = {
                IdCliente: $("#id").val(),
                Nombre: $("#nombre").val(),
                Apellido: $("#apellido").val(),
                Dni: $("#dni").val(),
                Email: $("#email").val(),
                Region: $("#region").val(),
                Telefono: $("#telefono").val(),
                Tipo_Cliente: {
                    Nombre: $("#tipo_cliente option:selected").text()
                }

            };
            console.log("Cliente antes de enviar:", Cliente);
            // usamos el metodo del controlador
            $.ajax({
                url: '@Url.Action("GuardarCliente", "Home")',
                type: "POST",
                data: JSON.stringify(Cliente),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (data) { // el data es el json que retorna GuardarUsuario

                    //debugger;

                    if (Cliente.IdCliente == 0) {
                        // se crea un usuario

                        if (data.resultado != 0) {

                            Cliente.IdCliente = data.resultado; // asignar el id al cliente

                            tabledata.row.add(Cliente).draw(false); // agregar la fila a la tabla

                            $("#FormModal").modal("hide");
                        } else {
                            $("#msjError").text(data.mensaje);
                            $("#msjError").show();
                            return;
                        }

                    } else {
                        // se edita un usuario
                        if (data.resultado) {
                            // se edito correctamente
                            tabledata.row(filaSeleccionada).data(Cliente).draw(false);
                            filaSeleccionada = null;

                            $("#FormModal").modal("hide");
                        } else {
                            $("#msjError").text(data.mensaje);
                            $("#msjError").show();
                            return;
                        }

                        $("#FormModal").modal("hide");
                    }
                },
                error: function (error) {
                    $("#msjError").text("Error Ajax");
                    console.log(error)
                },
                beforeSend: function () {
                    // se puede mostrar un loader o algo, ya que es lo que se ejecuta antes de la llamada ajax
                }
            });


        }


    </script>
}