@{
    ViewBag.Title = "ConfigurarSistema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Configuraciones de Sistema</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i> Configuraciones de Sistema
    </div>
    <div class="card-body">

     
    </div>
</div>


