
@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Cotizaciones</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i> Lista de Cotizaciones
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button id="crearNuevo" type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tablaCotizacion" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Dni</th>
                    <th>Vendedor</th>
                    <th>Fecha Pedido</th>
                    <th>Fecha Realizacion</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* AJAX *@

            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Cotizaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    @* Ocultar id para que solo se maneje con ajax *@
                    <input type="text" id="id" value="0" />

                    <div class="col-sm-6">
                        <label for="idEvento" class="form-label">Evento (ID)</label>
                        <input type="number" class="form-control" id="idEvento" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="idCliente" class="form-label">Cliente (ID)</label>
                        <input type="text" class="form-control" id="idCliente" autocomplete="off">
                    </div>

                    @* Si son mas  de 20 en la parte de cantidad se habilita 1 menu mas *@

                    <div class="col-sm-6 d-none" id="contenedor-menus">
                        <!-- aca van los menus en base a la cantidad de gente del evento-->
                    </div>

                    @* Platos que se mostraran en base al menu seleccionado *@

                    <!--<div class="col-sm-12 mt-3 d-none" id="contenedor-platos">-->
                    <!-- aca se agregan los checkboxes por cada plato -->
                    <!--</div>-->
                    @* Luego se pondran los platos correspondientes a el menu *@
                    <div id="contenedor-pregunta" class="mt-3 d-none">
                        <p class="fw-bold">¿Desea agregar otros platos?</p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="opcion-si">
                            <label class="form-check-label ms-1" for="opcion-si">Sí</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="opcion-no">
                            <label class="form-check-label ms-1" for="opcion-no">No</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="fechaRealizacion" class="form-label">Fecha Realizacion</label>
                        <input type="date" class="form-control" id="fechaRealizacion" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="total" class="form-label">Total</label>
                        <input type="tel" class="form-control" id="total" autocomplete="off" 
                               readonly disabled data-bs-toggle="tooltip" data-bs-placement="top">
                    </div>

                    <div class="col-sm-6">
                        <label for="estado" class="form-label">Estado</label>
                        <select id="estado" class="form-select">
                        </select>
                    </div>

                </div>

                @*<div class="row mt-2">
                        <div class="col-12">
                            <div id="msjError" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnGuardarSeleccion" type="button" class="btn btn-primary">Guardar</button>
                <button id="btnEditarSeleccion" type="button" class="btn btn-primary d-none">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* t0d0s los scripts son renderizados a layour, en la parte de RenderSection *@
@section Scripts {
    <script>
        // Urls (solo para .ajax, luego lo cambio a fetch)
        let totalPrecioBase = 0;
        const idRol = document.getElementById("idUsuario").value;
        const urlListarCotizaciones = '@Url.Action("ListarCotizaciones", "Home")';
        var tabledata;
    </script>

    <script src="~/Scripts/JS-COTIZACION/base.js"></script>
}