
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
    <li class="breadcrumb-item active">Eventos</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i> Lista de Eventos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Tipo</th>
                    <th>Calle</th>
                    <th>Altura</th>
                    <th>Ciudad</th>
                    <th>Provincia</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* AJAX *@

            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    @* id manejado con ajax*@
                    <input type="hidden" id="id" value="0" />

                    <div class="col-sm-6">
                        <label for="nombre" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" autocomplete="off">
                        <span class="text-danger" id="error-nombre"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="capacidad" class="form-label fw-bold">Capacidad</label>
                        <input type="text" class="form-control" id="capacidad" autocomplete="off">
                        <span class="text-danger" id="error-capacidad"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="tipo" class="form-label fw-bold">Tìpo</label>
                        <input type="text" class="form-control" id="tipo" autocomplete="off">
                        <span class="text-danger" id="error-tipo"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="calle" class="form-label fw-bold">Calle</label>
                        <input type="text" class="form-control" id="calle" autocomplete="off">
                        <span class="text-danger" id="error-calle"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="altura" class="form-label fw-bold">Altura</label>
                        <input type="text" class="form-control" id="altura" autocomplete="off">
                        <span class="text-danger" id="error-altura"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="ciudad" class="form-label fw-bold">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" autocomplete="off">
                        <span class="text-danger" id="error-ciudad"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="provincia" class="form-label fw-bold">Provincia</label>
                        <input type="text" class="form-control" id="provincia" autocomplete="off">
                        <span class="text-danger" id="error-provincia"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="fecha" class="form-label fw-bold">Fecha</label>
                        <input type="date" class="form-control" id="fecha" autocomplete="off">
                        <span class="text-danger" id="error-fecha"></span>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div id="msjError" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="guardarEvento" type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* t0d0s los scripts son renderizados a layout, en la parte de RenderSection *@
@section Scripts {

    <script>

        // variables globales
        var tabledata;
        var filaSeleccionada;
        const urlListarEventos = '@Url.Action("ListarEventos", "Home")';

    </script>

    @* script base que contiene todos los archivos JS de Eventos *@
    <script src="~/Scripts/JS-EVENTO/base.js"></script>
}